$color__background-body: #eee;
// #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #00274D;
$color__link-visited: #594080;
$color__link-hover: #6400FF;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__primary: #8080FF;
$color__secondary: #607D8B;
$color__the-darkest: #0b0b25;
$color__accent: #f44336;
$color__accent-slight: #FFF9E6;
$color__accent-striking: #ffc107;
$color__material-brown: #795548;
