.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
}
.main-navigation-img {
	display:none;
}

.main-navigation a {
	display: block;
	padding: 0.8em 0;
	position: relative;
	text-decoration: none;
	color: #dedbf6; // main color of <a> in menus
	font-size: 0.8em;
}
.main-navigation .main-navigation-img a {
	padding: 0em;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
}

.main-navigation ul ul {
	display: none;
	margin-left: 0.8em;
}

.main-navigation ul .toggled-on {
	display: block;
}

.main-navigation li {
	border-top: 1px solid #eaeaea;
	border-top: 1px solid rgba(51, 51, 51, 0.1);
	position: relative;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
	border-bottom: 3px solid $color__accent;
	padding: 1em 0.5em;
	font-size: 1em;
}

.main-navigation a:hover {
	background-color: darken($color__secondary, 5%);
}
.main-navigation .main-navigation-img a:hover {
	background-color: transparent;
}

.main-navigation .nav-menu > ul > li:first-child,
.main-navigation .nav-menu > li:first-child {
	border-top: 0;
}

.main-navigation .menu-item-has-children > a {
	padding-right: 48px;
}

.main-navigation .menu-item-description {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 0.5em;
}

.no-js .main-navigation ul ul {
	display: block;
}

.dropdown-toggle {
	background-color: transparent;
	border: 1px solid #a0a5aa;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	font-family: 'FontAwesome';
	content: "";
	height: 44px;
	top: 0.15em;
	margin-right: 1em;
	padding: 0;
	position: absolute;
	text-transform: lowercase;
	right: 6px;
	width: 44px;
}

.dropdown-toggle:after {
	color: white;
	content: "\f078";
	font-size: 14px;
	line-height: 27px;
	position: relative;
	top: 0;
	left: 1px;
	width: 27px;
}
.dropdown-toggle:hover:after {
	color: grey;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: #f0f0f0;
}

.dropdown-toggle:focus:after {
	background-color: #f0f0f0;
	color: black;
}

.dropdown-toggle.toggle-on:after {
	content: "\f077";
}
.toggled-on .dropdown-toggle {
	margin-right:1em;
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.menu-toggle {
	position:fixed;
	z-index: 100;
	bottom: 1em;
	left: 1em;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #3F51B5;
	color: white;
	transition: all 0.2s ease-in;
}
.menu-toggle.ishidden {
	bottom: -3em;
}
.toggled .menu-toggle.ishidden{
	bottom: 1em;
}
.main-navigation.toggled {
	position:fixed;
	bottom: 0;
	padding: 1em;
	z-index: 1;
		.main-navigation-img {
			display:flex;
			justify-content: center;
			background-color: #0b0b25;
			border-bottom: 1px dashed #1e323d;
    	box-shadow: inset 0px -1px 8px 1px black;
			align-items: center;
				img {
					padding: 0.5em;
				}
		}
		.brand-author-name {
			font-family: $font__main;
			font-weight: bold;
			color: $color__secondary;
		}
		.current-menu-item > a,
		.current-menu-ancestor > a {
			border-bottom: none;
			color: $color__primary;
		}
}
// a div slightly inside .main-navigation
.nav-menu {
	padding:0.5em;
	margin-bottom: 3em!important;
	background-color: #0b0b25;
}
.main-navigation.toggled ul {
	max-height: calc(100vh - 8em);
	overflow-y: auto;
}
.main-navigation.toggled ul ul {
	display:none;
}
.main-navigation.toggled ul ul.toggled-on,
.main-navigation.toggled ul ul.toggled-on > ul {
	display: block;
}
.main-navigation.toggled ul li {
    margin-left: 1em;
			a {
				font-size: 1em;
				padding: 0.5em;
			}
}
.main-navigation.toggled ul.sub-menu li {
    margin-left: 0em;
}


// SECTION FOR LARGER SCREENS
@media screen and (min-width: 48em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
	.main-navigation-img {
		display:flex;
		align-self: center;
		background-color: transparent;
		.brand-author-name {
			display: none;
		}
	}

	.main-navigation,
	.main-navigation.toggled {
		position: relative;
		min-height: 3.5em;
		margin: 0 auto;
		padding: 0 5em;
		background-color: $color__the-darkest;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}
	.nav-menu {
		padding: 0 0 0 0;
		background-color: transparent;
		margin-bottom: 0em!important;
	}
	.main-navigation ul,
	.main-navigation.toggled ul {
		max-height: none;
		padding-left: 0;
		text-align: center;
		display: flex;
		align-items: stretch;
	}
	.main-navigation.toggled ul {
		overflow-y: visible;
	}
	.main-navigation li, .main-navigation .menu-main-menu-eng-container, .main-navigation .menu-main-menu-russian-container {
		display: flex;
		align-items: stretch;
		border:none;
	  margin-right: 0.5em;
			&:last-child {
				margin-right:0em;
			}
	}
	/* left-align dropdown menu items */
	.main-navigation li li {
		display: block;
		text-align: left;
	}
	.main-navigation a,
	.main-navigation ul ul li:last-child a {
		border-bottom: none;
		display: flex;
		align-items: center;
		align-self: stretch;
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a {
		font-size: 0.8em;
	}
	/* position dropdown menus absolutely */
	.main-navigation ul ul.toggled-on {
		position: absolute;
		width: 12em;
		display: block;
		z-index: 10;
		margin-left: 0;
		background: $color__secondary;
	}
	.main-navigation ul ul ul.toggled-on {
		position: relative;
		width: 12em;
		display: block;
		z-index: 10;
		margin-left: 0;
		background: lighten($color__secondary, 5%);
	}
	.dropdown-toggle {
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		font-family: 'FontAwesome';
		content: "";
		height: 30px;
		width: 30px;
		top: 0.8em;
		position: absolute;
		text-transform: lowercase;
	}

	.dropdown-toggle:after {
		color: white;
		content: "\f078";
		font-size: 14px;
		line-height: 27px;
		position: relative;
		width: 30px;
	}
	.dropdown-toggle:hover:after {
		color: white;
	}
	.dropdown-toggle:hover,
	.dropdown-toggle:focus {
		background-color: darken($color__secondary, 10%);
	}
	.dropdown-toggle:focus:after {
		background-color: darken($color__secondary, 10%);
		color: white;
	}
	.dropdown-toggle,
	.dropdown-toggle.toggle-on,
	.toggled-on .dropdown-toggle {
		border: none;
		margin-right: 0em;
	}
	.main-navigation ul .dropdown-toggle {

	}
	.main-navigation ul ul ul a {
    padding-left: 1em;
	}
	.main-navigation ul ul a {
		padding-left: 0.3em;
	}
	.main-navigation ul a {
		padding-left: 0.5em;
		padding-right: 0.5em;
		border-bottom: 3px solid transparent;
	}
	.main-navigation .menu-item-has-children > a {
		padding-right: 2.5em;
	}
	.main-navigation ul li.current-menu-ancestor {

	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
