.flexrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  & .short-description {
    flex-basis: 300px;
    flex-grow: 1;
  }
  & .work-date {
    flex-basis: 250px;
    text-align: center;
    flex-grow: 1;
  }
}
.github_link a {
    color: whitesmoke;
}
.see-project-live {
  & .fa-external-link {
    margin-left: 0.5em;
    color: $color__background-screen;
    .portfolio-item.smallWork & {
      margin-left: 0em;
    }
  }
}
a.see-project-live-link {

    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }

}

.technologies_involved {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  display: flex;
  flex-wrap: wrap;
}
.technology_involved {
  margin-right: 0.5em;
  &:last-child {
    margin-right: 0em;
  }
}
.tech_and_image {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 0em;
  position: relative;
}
.tech_wrapper {
  flex-basis: 250px;
  flex-grow: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  color: white;
  & a {
    color: $color__accent-striking;
  }
}
.work_image {
  display: flex;
  flex-basis: 250px;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 1em;
}
.work-long-description {
    padding: 1em;
    background: white;
    margin-bottom: 1.5em;
}

@media (min-width: 768px) {
  .flexrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    & .short-description {
      flex-basis: 60%;
      flex-grow: 0;
    }
    & .work-date {
      flex-basis: 30%;
      flex-grow: 0;
    }
  }
}
