.skillBackground {
  position: absolute;
  height: auto;
  z-index: 1;
  opacity: 0.15;
  max-width: 250px;
  display: none;
  // left: calc(50% - 125px);
  // top: calc(50% - 125px);

}

  .entry-content {
    // position: relative;
    margin: 1.5em auto;
    width: 90%;
    font-size: 0.9em;
    & .how-well-skill {
      &.panel-heading {
        background-color: $color__secondary;
      }
      & .panel-title {
        color: $color__background-screen;
      }
    }
  }
  .entry-header {
    background-color: $color__accent;
    color: $color__background-screen;
    font-weight: bold;
    margin-top: inherit;
    padding: 1em;
    & .entry-title {
      font-weight: bold;
      font-size: 2em; 
      margin: 0.5em auto;
    }
  }
  .this-skill-now {
    position: relative;
  }
  .skill-future {
    & li {
      color: $color__text-input
    }
  }
  .skill-short-description, .short-description {
    color: $color__background-screen;
    margin: 0.5em 0;
    font-weight: normal;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: transparentize($color__text-input-focus, 0.8);
    font-size: 0.9em;
  }
  ul {
    margin-left: 0em;
    padding-left: 1.5em;
  }



////////////////
// MEDIA QUERIES
////////////////
@media (min-width: 768px) {
  .entry-content {
    margin: 1.5em auto;
    width: 75%;
    font-size: 1em;
  }
  & .entry-header {
    background-image: url('assets/img/skills-background.jpg');
    background-position: center;
    padding: 3em;
    & .skill-short-description {
      background-color: transparentize($color__the-darkest, 0.7);
      font-size: 1em;
    }
    & .entry-title {
      font-size: 4em;
    }
  }
}

@media (min-width: 1024px) {
  & .entry-content {
    margin: 1.5em auto;
    width: 60%;
  }
}
