.site-footer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.site-info {
  color: $color__text-input;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.socialLinks {
  margin: 0em 0 0.5em 0;
}
i.fa.socialLink {
  width: 1.5em;
}
