.site-footer {
  display: flex;
  justify-content: center;
}
.site-info {
  color: $color__text-input;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
