.brand-person {
	font-size: 1.6em;
	// letter-spacing: -3px;
	font-family: Oswald;
	text-shadow: 0.5px 0.5px 0.5px black;
	text-transform: uppercase;
}
.brand-person-title {
	background-color: transparentize($color__accent, 0.3);
	font-size: 0.5em;
	padding: 0.1em;
	justify-content: center;

}
.site-branding {
	z-index: 1;
	color: $color__accent-slight;
	font-family: Roboto;
	font-size: 2em;
	text-align: center;
	& > div {
		margin-bottom: 0.8rem;
	}
	&__brand-menu {
		// height: 2.5em;
		display: flex;
		justify-content: space-between;
		& li {
			list-style-type: none;
		}
	}
}
.site-branding__brand-menu {
	& a {
		border: 1px solid $color__background-button;
		font-size: 1.5rem;
		color: white;
		padding: 1rem;
		&:hover {
			text-decoration: none;
			color: $color__accent-striking;
			border-color: $color__accent-striking;
		}
	}
}
.site-branding-image-div {
	// background-image: url('./__dist/img/ilya_back_2048.jpg');
	// background-size: cover;
	display: flex;
  width: 100%;
	justify-content: flex-end;
	align-items: center;
	padding: 2% 5%;
}

////////////////
// MEDIA QUERIES
////////////////
@media (max-width: 500px) {
	.brand-person {
		font-size: 1em;
	}
	.brand-person-title {
		font-size: 0.45em!important;
	}
	.brand-person-image {
    width: 33.333333%;
	}
	.site-branding-image-div {
		// max-height: 20em;
	}
	.site-branding__brand-menu {
		& a {
			font-size: 1.3rem;
		}
	}
}
@media (max-width: 767px) {
	.brand-person-image {
		width: 33.333333%;
		align-self: center;
	}
	.brand-person-image-src {
		border-radius: 50%;
		border: 3px solid $color__background-screen;
	}
	.brand-person-title {
		font-size: 0.6em;
		text-align: center;
		align-self: center;
		background-color: transparent;
		// border-top: 1px solid #f44336;
		// border-bottom: 1px solid #f44336;
		color: $color__accent-striking;
	}
	.site-branding {
		display: flex;
    flex-direction: column;
	}
	.site-branding-image-div {
		// background-color: $color__text-input-focus;
		background-color: $color__text-input-focus;
		background: linear-gradient(to top right, $color__text-input-focus, $color__text-main);
		justify-content: center;
		align-items: center;
		// height: 30em;
		padding: 5%;
	}
	.site-branding__brand-menu {

		justify-content: space-between;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.brand-person-image {
		display: none;
	}
	.site-branding-image-div {
		background-image: url('./__dist/img/ilya_back_2048.jpg');
		background-size: cover;
		height: 25em;
	}
	.site-branding__brand-menu {
		&__button {
			font-size: 0.5em;
		}
	}
}
@media (min-width: 1024px) {
	.brand-person {
		font-size: 2em;
		// letter-spacing: -1px;
	}
	.brand-person-image {
		display: none;
	}
	.site-branding {

	}
	.site-branding-image-div {
		height: 30em;
		background-image: url('./__dist/img/ilya_back_2048.jpg');
		background-size: cover;
	}
	.site-branding__brand-menu {
		&__button {
			font-size: 0.5em;
		}
	}
}
@media (min-width: 1200px) {
	.site-branding-image-div {
		height: 35em;
	}
}
@media (min-width: 1500px) {
	.site-branding-image-div {
		height: 40em;
	}
}
