.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// FRONT PAGE BLOCK //
//////////////////////
.brand-person {
	font-size: 1.6em;
	// letter-spacing: -3px;
	font-family: Oswald;
	text-shadow: 0.5px 0.5px 0.5px black;
}
.brand-person-title {
	text-transform: uppercase;
	background-color: #f44336;
	font-size: 0.5em;
	padding: 0.1em;
	display: flex;
	justify-content: center;

}
.site-branding {
	z-index: 1;
	color: $color__accent-slight;
	font-family: Roboto;
	font-size: 2em;
	text-align: center;
	&__brand-menu {
		height: 2.5em;
		display: flex;
		& li {
			list-style-type: none;
		}
		& .menu-brand-menu-rus-container, .menu-brand-menu-eng-container {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-end;

		}
	}
}
.site-branding__brand-menu {
	&__button {
	  background-color: transparent;
	  border: 1px solid whitesmoke;
		padding: 0.6em;
		line-height: normal;
		& a {
			color: white;
			text-decoration: none;
			&:hover {
				color: $color__accent-striking;
			}
		}
	}
}
.site-branding-image-div {
	background-image: url('./__dist/img/ilya_blue_high_contrast.jpg');
	background-size: cover;
	height: 25em;
	display: flex;
  width: 100%;
	justify-content: flex-end;
	align-items: center;
	padding: 0 7%;
}
@media (max-width: 768px) {
	.brand-person-title {
		text-align: center;
	}
	.site-branding {
		// font-size: 1.5em;
	}
	.site-branding-image-div {
		justify-content: center;
		align-items: flex-end;
		padding: 7% 0;
	}
	.site-branding__brand-menu {
		&__button {
			font-size: 0.45em;
		}
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.site-branding-image-div {
		height: 25em;
	}
	.site-branding__brand-menu {
		&__button {
			font-size: 0.5em;
		}
	}
}
@media (min-width: 1024px) {
	.brand-person {
		font-size: 2em;
		// letter-spacing: -1px;
	}
	.site-branding-image-div {
		height: 30em;
	}
	.site-branding__brand-menu {
		&__button {
			font-size: 0.6em;
		}
	}
}
@media (min-width: 1200px) {
	.site-branding-image-div {
		height: 35em;
	}
}
@media (min-width: 1500px) {
	.site-branding-image-div {
		height: 50em;
	}
}
